<!-- footer -->
<footer class="text-center text-white" style="background-color: #fff;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Contact -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><b>Contact</b>
            </a>

            <!-- Community -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><b>Community</b>
            </a>

            <!-- Company -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><b>Company</b>
            </a>

            <!-- Logo -->
            <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="./"
                role="button"
                data-mdb-ripple-color="dark"><img src="./media/logo.svg" alt="RaiRaka Logo">
            </a>

            <!-- Help Desk -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><b>Help Desk</b>
            </a>

            <!-- Blog -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><b>Blog</b>
            </a>
            <!-- Resources -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><b>Resources</b>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <hr align="center">

    <div class="container pt-4 w-50">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Instagram -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark icon"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><img src="./media/icons8-instagram.svg" alt="Instagram" class="icon">
            </a>

            <!-- Whatsapp -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1 icon"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><img src="./media/icons8-whatsapp.svg" alt="Whatsapp" class="icon">
            </a>

            <!-- LinkedIn -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1 icon"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><img src="./media/icons8-linkedin-circled.svg" alt="LinkedIn" class="icon">
            </a>

            <!-- Twitter -->
            <a
                class="btn btn-link btn-floating btn-sm text-dark m-1 icon"
                href="#"
                role="button"
                data-mdb-ripple-color="dark"><img src="./media/icons8-twitter.svg" alt="Twitter" class="icon">
            </a>
        </section>
        <!-- Section: Social media -->
    </div>

    <!-- Copyright -->
    <div class="text-center text-dark p-3">
        © 2023 Copyright: RaiRaka
    </div>
    <!-- Copyright -->
</footer>
<!-- footer: end -->